<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Mi Perfil</a></li>
                        <li><a href="{% url 'Ninhos:logout' %}"><i class="fa fa-user"></i> Logout</a></li>
                        <li><p> Hola {{ username }} </p></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>Qawaq</a></h1>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->
