{% load static %}
<!doctype html>
<html lang="en-Us">
<head>

<meta charset="utf-8">

<title>Login</title>

<link rel='stylesheet' type="text/css" href="{% static 'css/logincss.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body background="{% static 'images/fondo.jpg' %}">
	<header>
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand text-white" href="{% url 'Ninhos:index' %}">Qawaq</a>
              </div>
            </div>
        </nav>
      </div>
  </header>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Iniciar Session</h1>
            </div>

            <form method="POST" class="login-form" action="">
								{% csrf_token %}
                <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="usuario" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="contraseña" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <a class="btn btn-primary btn-large btn-block" href="#">Ingresar</a>
                <a class="login-link" href="#">Olvidaste tu contraseña?</a>
                <a class="registrarse-link" href="{% url 'Ninhos:registro' %}">Registrarse</a>
            </form>
        </div>
    </div>
</body>
</html>
